<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>评论管理</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/tab.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <% include header.ejs%>
    <% include tab.ejs%> 
    <div style="float:left;">  
        <h4 style="color:lightcoral;padding-left: 40px">评论管理</h4>
        <div style="margin-left:100px;">
            <i style="font-size:18px;color:cadetblue">添加评论</i>                   
            <form action="?" method="post">                           
                <table>
                    <tr>
                        <td>评论ID</td>
                        <td>
                            <input type='number' name="cid" />
                        </td>
                        <td>评论动态ID</td>
                        <td>
                            <input type='number' name="mid"/>
                        </td>                                                   
                        <td>评论者ID</td>
                        <td>
                            <input type='number' name="uid"/>
                        </td>
                    </tr>
                    <tr>
                        <td>评论内容</td>
                        <td>
                            <input type="text" name="ccontent"/>
                        </td>
                        <td>评论时间</td>
                        <td>
                            <input typname="cdate"/>
                        </td>                                                                      
                    </tr>                      
                </table>
                <button type="submit" style="float:right;margin-bottom: 1%" class="btn btn-primary radius">添加</button>                   
            </form>
        </div>  
        <hr style="margin-left:100px; width: 100%"> 
        <form method="post" action="/comment/findc"> 
            <i style="font-size:18px;color:cadetblue;margin-left: 10%;">搜索条件</i> 
            <p></p>   
            <button type="submit" style="margin-left:20%;margin-bottom: 1%" class="btn btn-primary radius">点击搜索</button>                               
        </form>                 
        <hr style="margin-left:100px; width: 100%">   
        <table width='100%' cellpadding='5' style="margin-left:100px;">
        <i style="font-size:18px;color:cadetblue;margin-left: 10%;">评论列表</i>
        <p></p>
            <tr>                           
                <th>评论ID</th>
                <th>评论动态ID</th>
                <th>评论者ID</th>
                <th>评论内容</th>
                <th>评论时间</th>  
                <th>操作</th>  
            </tr>
            <% for(var item in items){ %>
                <tr class="top" id="<%= items[item].cid %>">
                    <td><%= items[item].cid %></td>  
                    <td><%= items[item].mid %></td>  
                    <td><%= items[item].uid %></td>
                    <td><%= items[item].ccontent %></td>  
                    <td><%= items[item].cdate %></td>  
                    <td>
                        <button onclick="del('<%= items[item].cid %>')" class="btn btn-primary radius">删除</button>
                    </td>                    
                </tr>
            <% } %>
        </table> 
    </div> 
</body>
<script>
        function del(cid){
        var tr = document.getElementById(cid);
        tr.parentNode.removeChild(tr);
        fetch('http://localhost:3000/comment', {
            method: 'delete',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            body:'item=' + cid
        });
    };
</script>
</html>