<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户管理</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/tab.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/layui/css/modules/layer/default/layer.css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
        <nav class="navbar navbar-inverse" role="navigation" style="background-image:url(../images/logo.jpg);background-size:100%">
            <div class="navbar-header">
               <a class="navbar-brand" href="#" style="color: snow">二筒APP后台管理</a>
            </div>
            <div>
               <ul class="nav navbar-nav" style="float:right">
                  <li class="active"><a href="#"><img src="../images/头像/1.jpg" width="18px"></a></li>
                  <li><a href="/" style="color:snow">退出登录</a></li>
               </ul>
            </div>
            </nav>    
    <% include tab.ejs%> 
    <div style="float:left;">  
        <h4 style="color:lightcoral;padding-left: 40px">用户管理</h4>
        <hr style="margin-left:100px; width: 100%"> 
        <form method="POST">        
            <i style="font-size:18px;color:cadetblue;margin-left: 10%;">搜索条件</i> 
            <p></p>
            <input placeholder="请输入用户id" style="margin-left: 185px;width: 220px;" name="uid">   
            <button type="submit" style="margin-bottom: 1%" class="btn btn-primary radius">搜索</button>                                       
        </form>               
        <hr style="margin-left:100px; width: 100%">   
        <table width='100%' cellpadding='5' style="margin-left:100px;">
        <i style="font-size:18px;color:cadetblue;margin-left: 10%;">用户列表</i>
        <p></p>                   
            <tr>                           
                <th>用户ID</th>
                <th>用户名</th>
                <th>头像</th>
                <th>联系方式</th>
                <th>密码</th>  
                <th>注册时间</th> 
                <th>操作</th> 
            </tr>
            <% for(var item in items){ %>
                <tr class="top" id="<%= items[item].uid %>">
                    <td><%= items[item].uid %></td>  
                    <td><%= items[item].uname %></td>  
                    <td><img src="../<%= items[item].uimg %>" style="width:30px;height:30px"></td>
                    <td><%= items[item].utel %></td>  
                    <td><%= items[item].upwd %></td>  
                    <td>
                        <script>
                            var date = new Date('<%= items[item].udate %>');  
                            document.write(date.getFullYear() + '-' + (date.getMonth() + 1) + '-' 
                                    + date.getDate() + ' ' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds()); 
                        </script>
                    </td>               
                    <td>
                        <button onclick="del('<%= items[item].uid %>')" class="btn btn-danger radius">删除</button>
                    </td>                    
                </tr>
            <% } %>
        </table>    
    </div>
</body>
<script>
      function del(uid){
        var tr = document.getElementById(uid);
        tr.parentNode.removeChild(tr);
        fetch('http://localhost:3000/user', {
            method: 'delete',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            body:'item=' + uid
        });
    };
</script>
</html>