<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>动态管理</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/tab.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <% include header.ejs%>
    <% include tab.ejs%> 
    <div style="float:left;">  
        <h4 style="color:lightcoral;padding-left: 40px">动态管理</h4>
        <div style="margin-left:100px;">
            <form method="post">          
                <i style="font-size:18px;color:cadetblue">添加动态</i>                   
                <table>
                    <tr>
                        <td>动态ID</td>
                        <td>
                            <input type='number' name="mid" />
                        </td>
                        <td>动态内容</td>
                        <td>
                            <input type="text" name="mcontent"/>
                        </td>                                                   
                        <td>动态图片</td>
                        <td>
                            <input type="file" name="mimg"/>
                        </td>
                    </tr>
                    <tr>
                        <td>动态类型</td>
                        <td>
                            <input type="text" name="mtype"/>
                        </td>
                        <td>发布者ID</td>
                        <td>
                            <input type="number" name="uid"/>
                        </td>                                                                      
                    </tr>                      
                </table>
                <button type="submit" style="float:right;margin-bottom: 1%" class="btn btn-primary radius">添加</button>                   
            </form>
        </div>  
        <hr style="margin-left:100px; width: 100%"> 
        <form method="post" action="/movement/findm"> 
            <i style="font-size:18px;color:cadetblue;margin-left: 10%;">搜索条件</i> 
            <p></p>   
            <button type="submit" style="margin-left:20%;margin-bottom: 1%" class="btn btn-primary radius">点击搜索</button>                               
        </form>                 
        <hr style="margin-left:100px; width: 100%">   
        <table width='100%' cellpadding='5' style="margin-left:100px;">
        <i style="font-size:18px;color:cadetblue;margin-left: 10%;">动态列表</i>
        <p></p>                                    
        <table width='100%' cellpadding='5' style="margin-left:100px;">
            <tr>                           
                <th>动态ID</th>
                <th>动态内容</th>
                <th>动态图片</th>
                <th>动态类型</th>
                <th>发布者ID</th>  
                <th>发布时间</th>
                <th>操作</th>  
            </tr>
            <% for(var item in items){ %>
                <tr class="top" id="<%= items[item].mid %>">
                    <td><%= items[item].mid %></td>  
                    <td><%= items[item].mcontent %></td>  
                    <td><img src="<%= items[item].mimg %>" style="width:30px;height:30px"></td>
                    <td><%= items[item].mtype %></td>  
                    <td><%= items[item].uid %></td>  
                    <td>
                        <script>
                            var date = new Date('<%= items[item].mdate %>');  
                            document.write(date.getFullYear() + '-' + (date.getMonth() + 1) + '-' 
                                    + date.getDate() + ' ' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds()); 
                        </script>
                    </td>                      
                    <td>
                        <button onclick="del('<%= items[item].mid %>')" class="btn btn-danger radius">删除</button>
                    </td>                    
                </tr>
            <% } %>
        </table> 
    </div> 
</body>
<script>
       function del(mid){
        var tr = document.getElementById(mid);
        tr.parentNode.removeChild(tr);
        fetch('http://localhost:3000/movement', {
            method: 'delete',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            body:'item=' + mid
        });
    };
</script>
</html>