<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>账户管理</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/tab.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <% include header.ejs%>
    <% include tab.ejs%> 
    <div style="float:left;">  
        <h4 style="color:lightcoral;padding-left: 40px;">账户管理</h4>
        <i style="font-size:18px;color:cadetblue;margin-left: 10%;">添加账户</i>
        <div style="margin-left:100px;">
            <form method="post">                           
                <table>
                    <tr>
                        <td>账户ID</td>
                        <td>
                            <input type='number' name="sid" />
                        </td>                                                 
                        <td>账户名</td>
                        <td>
                            <input type="text" name="sname"/>
                        </td>
                        <td>账户密码</td>
                        <td>
                            <input type="password" name="spwd"/>
                        </td>                
                </table>
                <button type="submit" style="float:right;margin-bottom: 1%" class="btn btn-primary radius">添加</button>                   
            </form>
        </div>  
        <br>
        <hr style="margin-left:100px; width: 100%">   
        <table width='100%' cellpadding='5' style="margin-left:100px;">
        <i style="font-size:18px;color:cadetblue;margin-left: 10%;">账户列表</i>
        <p></p>
            <tr>                           
                <th>账户ID</th>
                <th>账户名</th>
                <th>账户密码</th>
                <th>操作</th>
            </tr>
            <% for(var item in items){ %>
                <tr id="<%= items[item].sid %>">
                    <td><%= items[item].sid %></td>  
                    <td><%= items[item].sname %></td>
                    <td><%= items[item].spwd %></td>
                    <td>
                        <button onclick="del('<%= items[item].sid %>')" class="btn btn-primary radius">删除</button>
                        <button onclick="change()" class="btn btn-primary radius">修改</button>
                    </td>                    
                </tr>
            <% } %>
        </table> 
    </div> 
</body>
<script>
       function del(sid){
        var tr = document.getElementById(sid);
        tr.parentNode.removeChild(tr);
        fetch('http://localhost:3000/supergirl', {
            method: 'delete',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            body:'item=' + sid
        });
    }
</script>
</html>