<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户管理</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/tab.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/layui/css/modules/layer/default/layer.css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <% include header.ejs%>
    <% include tab.ejs%> 
    <div style="float:left;">  
        <h4 style="color:lightcoral;padding-left: 40px">用户管理</h4>
        <div style="margin-left:100px;">
            <form method="post">        
                <i style="font-size:18px;color:cadetblue">添加用户</i>                   
                <table>
                    <tr>
                        <td>用户ID</td>
                        <td>
                            <input type="number" name='uid' id="uid"/>
                        </td>
                        <td>用户名</td>
                        <td>
                            <input type="text" name="uname" id="uname"/>
                        </td>
                        <td>头像</td>
                        <td> 
                            <input type="file" name="uimg" id="uimg"/>
                        </td>                                                               
                    </tr>
                    <tr>
                        <td>联系方式</td>
                        <td>
                            <input type="number" name="utel" id="utel"/>
                        </td>  
                        <td>密码</td>
                        <td>
                            <input type="number" name="upwd" id="upwd"/>
                        </td>                                                                         
                    </tr>                      
                </table>
                <button type="submit" style="float:right;margin-bottom: 1%" class="btn btn-primary radius">添加</button>                   
            </form>
        </div>  
        <hr style="margin-left:100px; width: 100%"> 
        <form method="post">        
            <i style="font-size:18px;color:cadetblue;margin-left: 10%;">搜索条件</i> 
            <p></p>   
            <input placeholder="请输入用户ID" style="margin-left: 185px;width: 220px;">   
            <input type="submit" style="float:right;" name="uid" class="btn btn-primary radius"> 
        </form>               
        <hr style="margin-left:100px; width: 100%">   
        <table width='100%' cellpadding='5' style="margin-left:100px;">
        <i style="font-size:18px;color:cadetblue;margin-left: 10%;">用户列表</i>
        <p></p>                   
            <tr>                           
                <th>用户ID</th>
                <th>用户名</th>
                <th>头像</th>
                <th>联系方式</th>
                <th>密码</th>  
                <th>注册时间</th> 
                <th>操作</th> 
            </tr>
            <% for(var item in items){ %>
                <tr class="top" id="<%= items[item].uid %>">
                    <td><%= items[item].uid %></td>  
                    <td><%= items[item].uname %></td>  
                    <td><img src="<%= items[item].uimg %>" style="width:30px;height:30px"></td>
                    <td><%= items[item].utel %></td>  
                    <td><%= items[item].upwd %></td>  
                    <td><%= items[item].udate %></td>                      
                    <td>
                        <button onclick="del('<%= items[item].uid %>')" class="btn btn-primary radius">删除</button>
                    </td>                    
                </tr>
            <% } %>
        </table>    
    </div> 
</body>
<script src="/javascripts/layui/lay/modules/layer.js"></script>
<script>
    function del(uid){
        var tr = document.getElementById(uid);
        tr.parentNode.removeChild(tr);
        fetch('http://localhost:3000/user', {
            method: 'delete',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            body:'item=' + uid
        });
    }
</script>
</html>